
body {
  background-color: #EEEEEE
}
#app {
  margin:40px auto;
  max-width:800px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;
}
h1,h2,h3 {
  line-height:1.2;
}
img {
  width:100%;
  height:auto;
}
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
}


#signin-header {
  border-bottom: 6px solid darkgreen;
  background-color: lightgray;
  padding: 10px;
}
#signin-header > p {
  display: inline-block;
}
#signin-header > a {
  float: right;
  margin: 20px auto;
}


#nav h1 {
  margin: auto;
  width: 50%;
  margin-top: 20px;
  font-size: 3em;
}
#nav ul {
  list-style-type: none;
  border: 2px solid darkgray;
  border-radius: 20px;
  padding: 0;
}
#nav li {
  border-top: 2px solid darkgray;
}
#nav li:first-child {
  border-top: none;
}
.postLink {
  margin: 10px;
}

